.box {
    background: plum;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* The TRANSFORM property uses functional values like f(x) to change an element */

#rotate {
    transform: rotate(-10deg);
}

#scale {
    transform: scale(0.5);
}

#skew {
    transform: skew(-45deg);
}

/* translate(x) moves to the right (if x is positive)
   translate(x,y) moves diagonally
   translate(0,y) moves down (only along Y axis)
*/
#translate {
    transform: translate(50px, -10px);
}

/* you can chain multiple transforms on the same element */
#chain {
    transform: rotate(95deg) skew(-10deg);
}




